/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/
​
    html {   height: 100%; }
    body {  width: 800px;  height: 100%;}
​
    header {
        background-color:red;
        padding:5px;
        border:;
        margin:5px;
        font-size:30px;
        display: block;
        width: 150%;
        text-align: center;
​
    }
    nav {
        line-height:;
        background-color:#FF625F;
        height:270%;
        width:125px;
        display: inline-block;
        vertical-align: top;
        float:left;
        margin-right:150px;
    }
    nav ul {
        list-style-type: none;
​
    }
    a {
        color:black;
    }
    section {
        width: 516px;
        display: inline-block;
    }

    aside {
      width: 125px;
      display: inline-block;
      vertical-align: top;
      background-color:;
      font-size: ;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:red;
        text-align:top;
        padding:5px;
        display: block;
    }
